// Cores

$white: #ffffff;
$black: #000000;

$blueLight: #66aaff;
$blue: #007bff;
$blueDark: #0056b3;

$redLight: #e5737a;
$red: #dc3545;
$redDark: #a72834;

// Contextos

$light: $white;
$dark: $black;

$primaryLight: $blueLight;
$primary: $blue;
$primaryDark: $blueDark;

$secondaryLight: $redLight;
$secondary: $red;
$secondaryDark: $redDark;

// Breakpoints

$xsMax:       575.98px;

$smMin:       576px;
$smMax:       767.98px;

$mdMin:       768px;
$mdMax:       991.98px;

$lgMin:       992px;
$lgMax:       1199.98px;

$xlMin:       1200px;
$xlMax:       1399.98px;

$xxlMin:      1400px;